@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
}

.bullhorn-logo {
    width: 10vw;
    margin-left: 8vw;
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    background-color: white;
}

.menu {
    height: 0vh;
    background-color: white;
    width: 8vw;
}

.menu-box {
    background-color: white;
}
.menu-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: left;
    align-content: left;
    border: transparent;
    font-size: 14px;
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 150px;
    padding-bottom: 10px;
}

.dropdown-button {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    border-color: transparent;
    background-color: white;
}